# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/

util/certs
util/frontend-certs
util/backend-certs

store/*
!store/caffs

store/caffs/*
!store/caffs/2001
store/caffs/2001/result
!store/caffs/2002
store/caffs/2002/result
!store/caffs/2003
store/caffs/2003/result
